* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: black;
    padding-inline: 200px;
}

.line {
    height: 5px;
    width: 100%;
    background-color: red;
    margin-block: 10px;
}

.space {
    height: 50px;
}

.bee {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    min-width: 100px;
    padding-inline: 50px;
    min-height: 15px;
    padding-block: 10px;
    background-color: black;
    border: 1px gold solid;
    font-size: 1em;
    font-weight: 1000;
    transition: all 0.2s ease;
    margin-block: 10px;
}

button:hover {
    border: 1px red solid;
    background-color: rgb(23, 23, 23);
}

a {
    color: red;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .bee {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}